:root{
	--kinsle-main-color:#B9241E; 
	--kinsle-select-color:#EB2119; 
	--kinsle-btn-color:#D2261F; 
	--kinsle-btn-text-color:#fff; 
	--kinsle-border-color:#951813; 
	--kinsle-gray:#ECECEC;
}
[mol_button_typed]:hover [mol_icon] ,
[mol_button_typed]:focus [mol_icon] {
  transform: none;
}
[kinsle_leftmenu]{
	width: 142px;
	height: calc(100vh - 80px);
	background-color: var(--kinsle-main-color);
	overflow-y: scroll;
}
[kinsle_documents_trigger] [mol_expander_trigger_icon]
{
	display: none;
}
[kinsle_icon_documents]{
	width: 74px;
	height: 74px;
}

[kinsle_nav_button]{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--kinsle-border-color);
}
[kinsle_nav_button] [mol_icon]{
	width: 74px;
	height: 74px;
}
[kinsle_expander] [kinsle_documents_trigger]{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--kinsle-border-color);
}
[kinsle_expander_button]{
	border-bottom: 1px solid var(--kinsle-border-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 17px;
	color:#fff;
}
[kinsle_expander_button] [mol_icon]{
	width: 42px;
	height: 42px;
}
[kinsle_head]{
	height: 80px;
	display: inline-flex;
	align-items: center;
	background-color: var(--kinsle-main-color);
	box-shadow: none;
	border-radius: 0px;
	border-bottom: 1px solid var(--kinsle-border-color);
}
[kinsle_place]{
	width: 100%;
	flex-shrink: 1;
}
[kinsle_content_container]{
	width: 100%;
	height: 100%;
	flex-shrink: 1;
	background-color: #fff;
}
[kinsle_sub_header]{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 40px;
	width: 100%;
	height: 70px;
	background-color: var(--kinsle-gray);
}
[kinsle_tab]{
	width: 100%;
	height: calc(100vh - 160px);
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	gap: 5px;
	padding-left: 50px;
	padding-right: 10px;
	margin-top: 10px;
}
[kinsle_item]{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px 10px;
	border: 1px solid var(--kinsle-gray);
	height: 50px;
	color:#000;
}
[kinsle_item]>[mol_icon]
{
	width: 30px;
	height: 30px;
}
[kinsle_item]>[mol_check]>[mol_icon]
{
	width: 25x;
	height: 15px;
}
[kinsle_item_name]{
	margin-left: 30px;
	width: 20%;
}
[kinsle_item_size]{
	margin-left: 60px;
	width: 20%;
}

[mol_icon]{
	fill: white;
	filter: none;
}
